.bg-sky {
  background-color: #06d9f6;
  color: #f8f5ee;
  font-size: 25px;
}

.bg-primary {
  background-color: #099ec8;
  color: #f8f5ee;
  font-size: 25px;
}

.bg-danger {
  background-color: #f04141;
  color: #f8f5ee;
  font-size: 25px;
}

.md-icon {
  height: 15rem;
  width: 15rem;
}
